h1,h2,h3,p,span{
    font-family:  'Lato, sans-serif';
}

.height-interface{
    height:100vh;
}
.position-container-stop-button{
    width:100%;  
    left:0%; 
    bottom:0%
}
.position-des{
    width:20%; 
    height:10vh; 
    left:40%; 
    bottom:45%
}

.player-active:after{
content:'\A ';
background:rgb(22, 138, 158);
border-radius:9999px;
width: 10px;
height: 10px;
display:inline-block;
position:relative;
top:-6px;
padding:0.2em;
margin-left:10px;
}
.center-object{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media  screen and (min-width:1024px){
    .height-interface-lg{
        height:100vh;
    } 
    .position-stop-button{
        grid-template-columns: 2fr !important;
    }
    .position-container-stop-button{
        width:20%;  
        left:40%; 
        bottom:20%
    }
}
